extends _layout


block header
  header
    p Sign In
    a.menu(href='/') Home
    p#menu-divide |
    a.menu(href='/signup') Sign Up

block main
  main
    .container
      img(src='public/img/egg_150px.png')
      br
      p.title-text Egg-js

    .container
      .auth-error
        if message
          p #{message}

      p
        | Log-In using any of the following options:

      form#login-form.auth-form(action='/auth/local-login', method='post')
        p LOGIN
        .input-container
          span Email
          input#email(name='email', type='text', placeholder='example@domain.com')
        .input-container
          span Password
          input#password(name='password', type='password', placeholder='**********')
        button(type='submit') Submit

      .btn-container
        a(href='/auth/github')
          #login-btn.btn
            img(src='/public/img/github_32px.png', alt='github logo')
            p LOGIN WITH GITHUB

        a(href='/auth/google')
          #login-btn.btn
            img(src='/public/img/google_icon_32px.png', alt='google logo')
            p LOGIN WITH GOOGLE

block scripts
  script(type='text/javascript', src='common/ajax-functions.js')
  script(type='text/javascript', src='controllers/clickController.client.js')